@charset "utf-8";

/*모바일헤더*/

*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}

header{width: 100%; height: 100vh;  
       background-image: url(../img/silhouette-people-happy-time.jpg);
       background-size: cover;
       position: relative;}
.logo img{width: 150px; height: 50px;
          margin: 30px 100px;
          
         }
h2{font-size: 24px; font-weight: bold;
        margin-top: 30px;
        position: absolute;
        top: 60%; left:50%;
        transform: translateX(-50%);
        color: #333;
        }
.h_wrap{width: 100%; height: 100vh;
        
       }
.h_wrap .menu{width: 300px; 
              height: 400px;
              /* background-color: blueviolet; */
              margin-left: 100px;
             
              background-color: skyblue;
              opacity: 0.5;
              }
.menu li:hover{font-size: 30px;
               font-weight: 700;
               border: 3px solid rgb(241, 49, 1);
               background-color: rgb(255, 4, 4);
               
               }
.menu .intro{margin:5px 25px; font-size: 20px;
              
              color: rgb(78, 1, 68);  
             }
.menu .product{margin: 5px 25px; font-size: 20px;
              
              color: rgb(78, 1, 68);
              }
.menu .press{margin: 5px 25px; font-size: 20px;
             
              color: rgb(78, 1, 68);}
.menu .invest{margin: 5px 25px; font-size: 20px;
              
              color: rgb(78, 1, 68);
             }
.menu .innovation{margin: 5px 25px; font-size: 20px;
                  
                  color: rgb(78, 1, 68);}
.menu .service{margin: 5px 25px; font-size: 20px;
              
              color: rgb(78, 1, 68);}
.menu .live{margin: 5px 25px;
            font-size: 20px; color: #02221f;
            }
.menu .mall{margin: 0px 25px; 
            font-size: 20px; color: #02221f;}
.menu .sub{display: none; font-size: 15px;
           color: blue; font-weight: bold;}



/*태블릿 헤더*/
@media all and (min-width : 800px){


.logo img{width: 200px; height: 70px;
       margin-left: 100px;}
h2{font-size: 40px; font-weight: bold;
       margin-top: 30px;
       position: absolute;
       top: 30%; left:50%;
       transform: translateX(10%);
       color: #333;
       }
.h_wrap{width: 100%; height: 100%;
        
       }
.h_wrap .menu{width: 400px; 
              height: 500px;
              /* background-color: blueviolet; */
              margin-left: 100px;

              }
.menu{ 
      }
.menu li:hover{font-size: 30px;}
.menu .intro{font-size: 20px;}
.menu .product{font-size: 20px;}
.menu .press{font-size: 20px;}
.menu .invest{font-size: 20px;}
.menu .innovation{font-size: 20px;}
.menu .service{font-size: 20px;}
.menu .live{font-size : 20px;}
.menu .mall{font-size: 20px;}
.menu .sub{display: none; font-size: 15px;
       color: blue; font-weight: bold;}      
}

/*pc 헤더*/
@media all and (min-width : 1200px){


.logo img{width: 250px; height: 70px;
       margin-left: 100px;}
h2{font-size: 48px; font-weight: bold;
          margin-top: 30px;
          position: absolute;
          top: 30%; left:50%;
          transform: translateX(10%);
          color: #333;
              }
.h_wrap{width: 100%; height: 100%;
        
       }
.h_wrap .menu{width: 500px; 
              height: 600px;
              /* background-color: blueviolet; */
              margin-left: 100px;
              }
.menu{ font-weight: bold;
              color: aqua;
             }
.menu li:hover{font-size: 60px;}
.menu .intro{font-size: 40px;}
.menu .product{font-size: 40px;}
.menu .press{font-size: 40px;}
.menu .invest{font-size: 40px;}
.menu .innovation{font-size: 40px;}
.menu .service{font-size: 40px;}
.menu .live{font-size : 40px;}
.menu .mall{font-size: 40px;}
.menu .sub{display: none; font-size: 25px;
           color: blue; font-weight: bold;} 

}